@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
    --accent: hsl(146, 100%, 50%);
    --dark: hsl(0, 0%, 10%);
    --navbar-height: 4rem;
}

div a {
    text-decoration: none !important;
    color: currentColor;
}

div a:hover {
    filter: brightness(80%);
}

div a:visited {
    color: currentColor;
}

div ul {
    list-style: none;
}

div button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.intersect-show {
    opacity: 0;
}

.intersect-show.show {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.light-text {
    font-weight: 300;
}
