.quicksort-visualizer {
    min-height: 100vh;
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.board {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    position: relative;
    height: 50%;
    width: 50%;
}

.item {
    width: 100px;
    border: .2rem solid black;
    box-shadow: 3px 3px 4px 1px lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: translate 500ms, background-color 500ms;
}

.item-number {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 100%;
}
